!xrdb -merge ~/.Xresources!
!SCrollbar!
!URxvt.background      : #111217!
URxvt.scrollBar: false
URxvt.internalBorder:10

!font!
URxvt.font:     xft:Source Code Variable:medium:size=10:antialias=true
URxvt.boldFont: xft:Source Code Variable:bold:size=10:antialias=true
URxvt.letterSpace: -1 

! special
URxvt.foreground      : #2E3440
URxvt.foreground_bold : #5A728A
URxvt.cursorColor     : #81A1C1
URxvt.background      : #D1D8E4

! black
URxvt.color0:       #2E3440
URxvt.color8:       #2E3440

! red
URxvt.color1:       #E36464
URxvt.color9:       #E36464

! green
URxvt.color2  : #3AA697
URxvt.color10 : #3C665C

! yellow
URxvt.color3:       #aec795
URxvt.color11:      #aec795

! blue
URxvt.color4:       #81A1C1
URxvt.color12:      #81A1C1

! magenta
URxvt.color5:       #c795ae
URxvt.color13:      #c795ae

! cyan
URxvt.color6:       #95aec7
URxvt.color14:      #95aec7

! white
URxvt.color7:       #3E5173
URxvt.color15:      #3E5173

