!xrdb -merge ~/.Xresources!
!SCrollbar!
!URxvt.background      : #1E2327!
URxvt.scrollBar: false
URxvt.internalBorder:10
URxvt.transparent: false 
URxvt.shading:20
!font!
URxvt.font:     xft:Source Code Variable:Medium:size=9:antialias=true
URxvt.boldFont: xft:Source Code Variable:Bold:size=9:antialias=true
URxvt.letterSpace: -1

! special
URxvt.foreground      : #F67E7D
URxvt.foreground_bold : #F67E7D
URxvt.cursorColor     : #FD4540
URxvt.background      : #1E2327

! black
URxvt.color0:       #1E2327
! terminal font
URxvt.color8:       #0F1011

! red
URxvt.color1:       #FF405B
URxvt.color9:       #FF405B

! green
URxvt.color2  : #4EE176
URxvt.color10 : #F0294A

! yellow
URxvt.color3:       #FEBB21
URxvt.color11:      #FEBB21

! blue
URxvt.color4:       #1580ED
URxvt.color12:      #1580ED

! magenta
URxvt.color5:       #B444B4
URxvt.color13:      #B444B4

! cyan
URxvt.color6:       #95aec7
URxvt.color14:      #95aec7

! white
URxvt.color7:       #FFFFFF
URxvt.color15:      #FFFFFF

rofi.font: Source Code Variable Roman 9
