

@-moz-document url("about:home"),url(about:preferences),url("about:blank"),url("about:newtab"),url("about:privatebrowsing"){
  body{color:#e1e1e1!important;background-color:#1A1E21!important}
  a,a:visited,a:hover{color:#C50ED2!important}
}
:root {
    --in-content-border-active: #FF4642 !important;
    --in-content-border-active-shadow: none !important;
    --in-content-page-background: transparent !important;
        background-color: rgba(0,0,0, 0.0) !important;
}
