@import "scrollbars.css";

/*bg : #1E2327;*/
/*fg : #663AB7;*/

/* New Tab Flash */
:root{--newtab-textbox-background-color:#1E2327;}

#browser vbox#appcontent tabbrowser,
#content, 
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html{
    background: #1E2327 !important
}

.tab-line {
display : none !important;
}

/* Toolbar buttons */
.toolbarbutton-1 {
    fill: #D0324C !important;
    background-color: #1E2327 !important;
}

/* Remove border under navbar */
#navigator-toolbox::after {
  border-bottom: 0px !important;
}

/* remove some borders */
#navigator-toolbox {
  border: none !important;
}

#titlebar {
  border: none !important;
}

#tabbrowser-tabs {
background-color: #1E2327 !important;
}

/*
.tabbrowser-arrowscrollbox {
  border: none !important;
  min-width: 10;
}

.tab-drop-indicator-box {
  border: none !important;
  min-width: 10;
}*/

/* remove lines */

#navigator-toolbox::after {
  display: none !important;
}

#nav-bar, #TabsToolbar {
  border: none !important;
 /* max-height: 32px !important;*/
  /*margin-top: -2px;*/
}

/*#PersonalToolbar {
  border: none !important;
}
*/
/*#content-deck {
  border: none !important;
}*/

.tabbrowser-tab::before, 
.tabbrowser-tab::after{
  display: none !important;

}
tab
{
    background-color: #1E2327 !important;
    font-weight: thin !important;
    color : #F67E7D !important;
}


.tab-content[selected="true"]
{
    background-color: #1E2327 !important;
    font-weight: bold !important;
    color : #F67E7D !important;
}

#nav-bar-customization-target {
	background-color: #1E2327 !important;
}


.tabbrowser-tab{ opacity: 0.5 }
.tabbrowser-tab:hover{ opacity: 0.75 }
.tabbrowser-tab[selected]{ opacity: 1 }

#urlbar{
	box-shadow: none !important;
	background-color: #1E2327 !important;
	background: none !important;
	border: none !important;
	color : #F67E7D !important;
}

#urlbar:hover{
  box-shadow: none !important;
}

#tracking-protection-icon-container,#pageActionSeparator{ border-inline-width: 0px !important; }
.urlbar-icon,
.urlbar-icon-wrapper,
#tabbrowser-tabs toolbarbutton,
toolbar toolbarbutton > .toolbarbutton-icon,
toolbar toolbarbutton > .toolbarbutton-badge-stack,
.titlebar-button,
#identity-box,
#tracking-protection-icon-container,
.findbar-textbox~toolbarbutton,
toolbarbutton.scrollbutton-up,
toolbarbutton.scrollbutton-down{ background-color: transparent !important;}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]):not([multiselected]){ background-color: transparent !important }

/*Tabs below nav bar*/
#nav-bar { 
  -moz-box-ordinal-group: 1 !important;
}
#PersonalToolbar { 
  -moz-box-ordinal-group: 2 !important;
}
#titlebar { 
  -moz-box-ordinal-group: 3 !important;
}

#navigator-toolbox{ 
  margin-top: 0px;
  padding-top:0px !important; 
}
#toolbar-menubar{
  position: fixed;
  top: 0px;
}

/*#navigator-toolbox { --tabs-border-color: transparent !important; }*//* remove weird line*/
